<div class="pin-code-keyboard">
    <div class="h3">
        Please enter pin-code by clicking on buttons
    </div>
    <div ng-repeat="i in [0,1,2]" class="clearfix pin-code-keyboard__row">
        <button type="button" ng-repeat="j in [1,2,3]" class="col-sm-4 btn btn-info pin-code-keyboard__btn" ng-click="numberButtonPress(i*3 + j)">{{ i*3 + j }}</button>
    </div>
    <div class="clearfix pin-code-keyboard__row">
        <button type="button" class="col-sm-4 btn btn-info pin-code-keyboard__btn"></button>
        <button type="button" class="col-sm-4 btn btn-info pin-code-keyboard__btn" ng-click="numberButtonPress(0)">0</button>
        <button type="button" class="col-sm-4 btn btn-info pin-code-keyboard__btn" ng-click="deleteCharacter()">
            <img class="pin-code-keyboard__btn__img" src="components/pin-code-keyboard/img/delete-character-icon.png" />
        </button>
    </div>
    <div class="clearfix pin-code-keyboard__row">
        <div class="pin-code-keyboard__display">{{ pinCode }}</div>
    </div>
    <button type="submit" class="btn btn-primary pin-code-keyboard__submit-btn">Proceed</button>
</div>

